.version.projects /* version checker */
{
	color: #0000F7;
	background-color: #2732FD;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu160
{
	margin-right: -10000px;
	width: 141.67%;
	margin-left: -20.84%;
}

#u160
{
	z-index: 6;
	background-color: #000000;
	padding-top: 227px;
	padding-bottom: 151.14999999999992px;
	position: relative;
	width: 99.93%;
	margin-left: 0.08%;
}

#u163-4
{
	z-index: 12;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u169
{
	z-index: 44;
	height: 51px;
	margin-top: 151px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u169:hover
{
	height: 51px;
	min-height: 0px;
	width: 5.38%;
	margin: 151px 0px 0px 47.24061810154526%;
	background: transparent url("../images/arrowh.png") no-repeat center center;
	background-size: cover;
}

#u206
{
	z-index: 2;
	background-color: #D6D6D6;
	padding-top: 158px;
	padding-bottom: 141px;
	position: relative;
	width: 100%;
}

#u172-4
{
	z-index: 46;
	min-height: 75px;
	background-color: transparent;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	width: 54.27%;
	margin-left: 23.39%;
}

#u195
{
	z-index: 56;
	height: 1047px;
	border-width: 0px;
	border-color: transparent;
	margin-top: 158px;
	position: relative;
	width: 59.2%;
	margin-left: 20.37%;
	background: transparent url("../images/zhoudragon.jpg") no-repeat left top;
	background-size: contain;
}

#u215
{
	z-index: 7;
	background-color: #000000;
	padding-top: 293px;
	padding-bottom: 118.14999999999964px;
	position: relative;
	width: 99.93%;
	margin-left: 0.08%;
}

#u218-6
{
	z-index: 16;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u327
{
	z-index: 45;
	height: 51px;
	margin-top: 118px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u221
{
	z-index: 3;
	background-color: #D6D6D6;
	padding-top: 184px;
	padding-bottom: 99.04999999999973px;
	margin-top: 1px;
	position: relative;
	width: 99.93%;
	margin-left: 0.08%;
}

#u285-5
{
	z-index: 50;
	min-height: 75px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	position: relative;
	width: 59.24%;
	margin-left: 20.46%;
}

#u230
{
	z-index: 58;
	height: 2045px;
	margin-top: 127px;
	position: relative;
	width: 59.24%;
	margin-left: 20.46%;
	background: transparent url("../images/yzy_realvsfake2.jpg") no-repeat center center;
	background-size: contain;
}

#u264
{
	z-index: 8;
	background-color: #000000;
	padding-top: 293px;
	padding-bottom: 118.05000000000018px;
	position: relative;
	width: 99.93%;
}

#u267-6
{
	z-index: 22;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u330
{
	z-index: 59;
	height: 51px;
	margin-top: 118px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u279
{
	z-index: 4;
	background-color: #D6D6D6;
	padding-top: 97px;
	padding-bottom: 80px;
	position: relative;
	width: 99.93%;
}

#u336-5
{
	z-index: 64;
	min-height: 75px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 23px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
}

#u285-2,#u336
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u339
{
	z-index: 69;
	height: 1046px;
	margin-top: 36px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/icon_diablo.jpg") no-repeat left top;
	background-size: contain;
}

#u359
{
	z-index: 70;
	height: 1046px;
	margin-top: 82px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/diabloapp.jpg") no-repeat left top;
	background-size: contain;
}

#u372
{
	z-index: 71;
	background-color: #FFFFFF;
	padding-bottom: 49px;
	margin-top: 105px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
}

#u382
{
	z-index: 97;
	min-height: 454px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 74.54%;
	left: 12.68%;
}

#u422
{
	z-index: 9;
	background-color: #000000;
	padding-top: 293px;
	padding-bottom: 118.04999999999927px;
	position: relative;
	width: 99.93%;
}

#u425-4
{
	z-index: 28;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u428
{
	z-index: 60;
	height: 51px;
	margin-top: 118px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u461
{
	z-index: 5;
	background-color: #D6D6D6;
	position: relative;
	width: 99.93%;
}

#u461_position_content
{
	padding-top: 222px;
	padding-bottom: 31px;
	width: 100%;
}

#pu470
{
	width: 63.43%;
	margin-left: 16.19%;
}

#u470
{
	z-index: 99;
	height: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	width: 3.6%;
}

.ie #u470
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u482
{
	z-index: 72;
	height: 495px;
	position: relative;
	margin-right: -10000px;
	width: 93.39%;
	left: 6.62%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8823405.jpg") no-repeat left top;
	background-size: contain;
}

#u493
{
	z-index: 73;
	height: 409px;
	margin-top: 36px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8823430.jpg") no-repeat left top;
	background-size: contain;
}

#u504-5
{
	z-index: 100;
	min-height: 75px;
	background-color: transparent;
	color: #0000FF;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 54px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
}

#u504-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 59.24%;
	margin: 54px 0px 0px 20.382634289919057%;
}

#u534
{
	z-index: 74;
	height: 499px;
	margin-top: 220px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841049.jpg") no-repeat left top;
	background-size: contain;
}

#u545
{
	z-index: 75;
	height: 499px;
	margin-top: 33px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841112.jpg") no-repeat left top;
	background-size: contain;
}

#u556
{
	z-index: 76;
	height: 499px;
	margin-top: 33px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841237.jpg") no-repeat left top;
	background-size: contain;
}

#u567
{
	z-index: 77;
	height: 499px;
	margin-top: 33px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841444.jpg") no-repeat left top;
	background-size: contain;
}

#u578-5
{
	z-index: 105;
	min-height: 75px;
	background-color: transparent;
	color: #0000FF;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 44px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
}

#u578-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 59.24%;
	margin: 44px 0px 0px 20.382634289919057%;
}

#u581
{
	z-index: 78;
	height: 499px;
	margin-top: 204px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841848.jpg") no-repeat left top;
	background-size: contain;
}

#u598
{
	z-index: 79;
	height: 499px;
	margin-top: 37px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
	background: transparent url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8841820.jpg") no-repeat left top;
	background-size: contain;
}

#u627-4
{
	z-index: 110;
	min-height: 38px;
	background-color: transparent;
	color: #0000FF;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 70px;
	position: relative;
	width: 59.24%;
	margin-left: 20.39%;
}

#u627-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 59.24%;
	margin: 70px 0px 0px 20.382634289919057%;
}

#u630
{
	z-index: 10;
	background-color: #000000;
	padding-top: 293px;
	padding-bottom: 118.05000000000291px;
	margin-top: 158px;
	position: relative;
	width: 100%;
}

#u633-6
{
	z-index: 32;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u636
{
	z-index: 61;
	height: 51px;
	margin-top: 118px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u654
{
	z-index: 80;
	background-color: #FFFFFF;
	padding-bottom: 79px;
	margin-top: 227px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
}

#u657
{
	z-index: 115;
	min-height: 342px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	width: 74.54%;
	left: 12.8%;
}

#u675
{
	z-index: 81;
	height: 454px;
	margin-top: 51px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843114.jpg") no-repeat center center;
	background-size: contain;
}

#u686
{
	z-index: 82;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843132.jpg") no-repeat center center;
	background-size: contain;
}

#u697
{
	z-index: 83;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843145.jpg") no-repeat center center;
	background-size: contain;
}

#u708
{
	z-index: 84;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843155.jpg") no-repeat center center;
	background-size: contain;
}

#u719
{
	z-index: 85;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843230.jpg") no-repeat center center;
	background-size: contain;
}

#u730
{
	z-index: 86;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8844015.jpg") no-repeat center center;
	background-size: contain;
}

#u749
{
	z-index: 87;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843300.jpg") no-repeat center center;
	background-size: contain;
}

#u768
{
	z-index: 88;
	height: 454px;
	margin-top: 46px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843408.jpg") no-repeat center center;
	background-size: contain;
}

#u782
{
	z-index: 89;
	height: 454px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843416.jpg") no-repeat center center;
	background-size: contain;
}

#u802
{
	z-index: 90;
	height: 454px;
	margin-top: 36px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843443.jpg") no-repeat center center;
	background-size: contain;
}

#u816
{
	z-index: 91;
	height: 454px;
	margin-top: 36px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843427.jpg") no-repeat center center;
	background-size: contain;
}

#u827
{
	z-index: 92;
	height: 454px;
	margin-top: 42px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843456.jpg") no-repeat center center;
	background-size: contain;
}

#u838
{
	z-index: 93;
	background-color: #FFFFFF;
	padding-bottom: 56px;
	margin-top: 54px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
}

#u841
{
	z-index: 116;
	min-height: 342px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	width: 74.54%;
	left: 12.8%;
}

#u845
{
	z-index: 94;
	height: 454px;
	margin-top: 54px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8843332.jpg") no-repeat center center;
	background-size: contain;
}

#u856-5
{
	z-index: 117;
	min-height: 75px;
	background-color: transparent;
	color: #0000FF;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 42px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
}

#u856-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 59.24%;
	margin: 42px 0px 0px 20.309050772626932%;
}

#u504-2,#u578-2,#u627,#u856-2
{
	text-decoration: underline;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u859
{
	z-index: 11;
	background-color: #000000;
	padding-top: 293px;
	padding-bottom: 118.05000000000291px;
	margin-top: 183px;
	position: relative;
	width: 100%;
}

#u862-6
{
	z-index: 38;
	min-height: 46px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	width: 20.76%;
	margin-left: 39.59%;
}

#u163,#u218,#u218-3,#u267,#u267-3,#u425,#u633,#u633-3,#u862,#u862-3
{
	color: #FFFFFF;
}

#u865
{
	z-index: 62;
	height: 51px;
	margin-top: 118px;
	position: relative;
	width: 5.38%;
	margin-left: 47.25%;
	background: transparent url("../images/arrow.png") no-repeat center center;
	background-size: cover;
}

#u327:hover,#u330:hover,#u428:hover,#u636:hover,#u865:hover
{
	height: 51px;
	min-height: 0px;
	width: 5.38%;
	margin: 118px 0px 0px 47.24061810154526%;
	background: transparent url("../images/arrowh.png") no-repeat center center;
	background-size: cover;
}

#u883-4
{
	z-index: 123;
	min-height: 75px;
	background-color: transparent;
	color: #000000;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 167px;
	position: relative;
	width: 59.24%;
	margin-left: 19.43%;
}

#u883-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	width: 59.24%;
	margin: 167px 0px 0px 19.426048565121413%;
}

#u877
{
	z-index: 95;
	height: 1047px;
	margin-top: 25px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8845636.jpg") no-repeat center center;
	background-size: contain;
}

#u894-6
{
	z-index: 127;
	min-height: 57px;
	background-color: transparent;
	color: #000000;
	line-height: 23px;
	text-align: center;
	font-size: 18px;
	margin-top: 130px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
}

#u894-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 59.24%;
	margin: 130px 0px 0px 20.309050772626932%;
}

#u504-5:hover p,#u504-5:hover span,#u578-5:hover p,#u578-5:hover span,#u627-4:hover p,#u627-4:hover span,#u856-5:hover p,#u856-5:hover span,#u883-4:hover p,#u883-4:hover span,#u894-6:hover p,#u894-6:hover span
{
	color: #00FFFF;
	visibility: inherit;
}

#u883,#u894,#u894-3
{
	text-decoration: none;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u902
{
	z-index: 96;
	height: 952px;
	margin-top: 18px;
	position: relative;
	width: 59.24%;
	margin-left: 20.31%;
	background: #FFFFFF url("../images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202016-04-16%20%e4%b8%8b%e5%8d%8850033.jpg") no-repeat center center;
	background-size: contain;
}

#pu925-4
{
	margin-top: 178px;
	width: 14.35%;
	margin-left: 68.51%;
}

#u925-4
{
	z-index: 138;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	width: 29.75%;
}

#u925-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 29.75%;
	margin: 0px -10000px 0px 0%;
}

#u928-4
{
	z-index: 142;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	width: 6.67%;
	left: 31.8%;
}

#u928-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 6.67%;
	margin: 0px -10000px 0px 0%;
}

#u916-4
{
	z-index: 134;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	width: 61.54%;
	left: 38.47%;
}

#u916-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 61.54%;
	margin: 0px -10000px 0px 0%;
}

#u925-4:hover p,#u925-4:hover span,#u928-4:hover p,#u916-4:hover p,#u916-4:hover span
{
	color: #0000FF;
	visibility: inherit;
}

#u504,#u578,#u856,#u925,#u916
{
	text-decoration: underline;
}

#ptop
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -30px;
	margin-left: 457px;
}

#top
{
	margin-left: 19px;
	position: relative;
}

#sdon
{
	margin-left: 19px;
	margin-top: 729px;
	position: relative;
}

#ddysrvf
{
	margin-left: 14px;
	margin-top: 2228px;
	position: relative;
}

#idgdci
{
	margin-left: 11px;
	margin-top: 3163px;
	position: relative;
}

#website
{
	margin-top: 3878px;
	position: relative;
}

#snkrhd
{
	margin-left: 10px;
	margin-top: 5842px;
	position: relative;
}

#oosw
{
	margin-left: 10px;
	margin-top: 8546px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


